################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/antidbg/v17/Preview
/.vs/antidbg/FileContentIndex
/.vs/antidbg/v17
/.vs


.history/*
build/*


# CMake / Ninja build
/build/
/cmake-build-*/
/CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build.ninja
.ninja_log
.ninja_deps

# MSVC
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.idx
x64/*
antidbg/x64/*

# Binary outputs
*.exe
*.dll
*.lib
*.obj

# compile commands
compile_commands.json

